{% extends 'navbar.html' %}

{% set active_page = "home" %}

{% block content %}
<div class="home-text">
    <h1> Pokemon Flask Application </h1>
    <img style="width: 200px;" src="../static/assets/home.jpg">
    <p>Bonjour, bienvenue sur la page d'accueil de cette application flask</p>
    <p>Le but de cette application web est de référencer des informations sur les différents pokémons</p>
    <p><a href="/pokemons">Cliquez ici pour voir la liste des pokemons</a></p>
</div>
{% endblock %}