<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %} - My Site {% endblock %}</title>
        <link href="{{ url_for('static',filename='assets/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <ul>
            <li class="{{ 'active' if active_page == 'home' else '' }}">
                <a href="/">Home</a>
            </li>
            <li class="{{ 'active' if active_page == 'project' else '' }}">
                <a href="/project">Project</a>
            </li>
            <li class="{{ 'active' if active_page == 'contact' else '' }}">
                <a href="/contact">Contact</a>
            </li>
          </ul> 
        {% block content %}{% endblock %}
    </body>
</html>
